:root {
  --light: #d9d9d9;
  --light-med: #a6a6a6;
  --med: #737373;
  --med-dark: #545454;
  --dark: #000000;
}


.App-Container {
  padding: 50px;
  border-radius: 10px;
  border: rgba(100,100,111,0.3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin : 50px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  min-height: 50vh;
  

}
.Bar {
  width: 30px;
  margin: 0 3px;
  color: var(---med);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.Header{
  background-color: var(--dark);
  display: flex;
  margin-top: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Header > button{
  flex : 1;
  background-color: var(--dark);
  border: 0px;
  color: var(--light);
  font-size: medium;
  padding: 20px 0;
}

.Header > button:hover{
  background-color:#1E2022 ;
  cursor : pointer;
 
}

.Header > button:first-child{
  font-family: 'Quintessential', cursive;
  color: white;
  font-size: 32px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--light);
  padding: 20px;
  height: 50px;
  background:#0A0908 ;
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.1s ease-in;
}
.btn:hover{
   transform: scale(1.05);
  cursor: pointer;
}

.button-container{
  width : 100%;
  display :flex;
  justify-content: center;
}
.heading{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.heading-item{
  background-color: white;
  flex : 1;
  margin: 50px;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.sorting{
  background-image: url('/public/sort.svg');
  object-fit: contain;
  object-position: center;
}
.tree{
  background-image: url('/public/tree.svg');
  object-fit: contain;
  object-position: center;
}