.App-Container {
  padding: 50px;
  border-radius: 10px;
  border: rgba(100,100,111,0.3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin : 50px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  min-height: 50vh;
  

}
.Bar {
  width: 30px;
  margin: 0 3px;
  /* background-color: black; */
  color: #F05454;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.Header{
  background-color: #30475E;
  display: flex;
  margin-top: none;
}
.Header > button{
  flex : 1;
  background-color: #30475E;
  border: 0px;
  color: white;
  padding: 20px 0;
}

.Header > button:hover{
  background-color: #406882;
  cursor : pointer;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:white;
  padding: 20px;
  height: 50px;
  background: #30475E;
  border: 0;
  border-radius: 5px;
}

.button-container{
  width : 100%;
  display :flex;
  justify-content: center;
}
.heading{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.heading-item{
  background-color: white;
  flex : 1;
  margin: 50px;
  border-radius: 5px;
  /* padding:100px 0; */
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* .heading :hover{
  background-color: rgba(42, 157, 143, 0.7);
} */

.sorting{
  background-image: url('/public/sort.png');
  
  object-fit: contain;
  object-position: center;
}
/* .tree{
  background-image: url('/public/tree.png');
  object-fit: contain;
  object-position: center;
} */